{% extends 'base.html' %}
{% block content %}

<h2>Edit Job</h2>

<div class="card">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="title" value="{{ job.title }}" required>
    <input type="number" name="openings" value="{{ job.openings }}" required>
    <input type="text" name="category" value="{{ job.category }}" required>
    <textarea name="description" required>{{ job.description }}</textarea>
    <textarea name="skills" required>{{ job.skills }}</textarea>

    <label>Change Banner</label>
    <input type="file" name="banner">

    <button type="submit">Update Job</button>
</form>
</div>

{% endblock %}
