{% extends 'base.html' %}
{% block content %}

<div style="text-align:center; padding:40px 10px;">
    <h1>Welcome to Job Portal</h1>
    <p>Find jobs or hire talent easily</p>

    {% if not user.is_authenticated %}
        <a href="/login/">
            <button style="width:200px; margin:10px;">Login</button>
        </a>
        <a href="/register/">
            <button style="width:200px; background:green;">Register</button>
        </a>
    {% else %}
        <a href="/dashboard/">
            <button style="width:200px;">Go to Dashboard</button>
        </a>
    {% endif %}
</div>

{% endblock %}
