{% extends 'base.html' %}
{% block content %}

<h2>Post New Job</h2>

<div class="card">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="title" placeholder="Job Title" required>
    <input type="number" name="openings" placeholder="Openings" required>
    <input type="text" name="category" placeholder="Category" required>
    <textarea name="description" placeholder="Job Description" required></textarea>
    <textarea name="skills" placeholder="Required Skills" required></textarea>

    <label>Job Banner</label>
    <input type="file" name="banner">

    <button type="submit">Post Job</button>
</form>
</div>

{% endblock %}
