{% extends 'base.html' %}
{% block content %}

<h2>Post a New Job</h2>

<form method="post">
    {% csrf_token %}

    <label>Job Title</label>
    <input type="text" name="title" placeholder="e.g. Android Developer" required>

    <label>Number of Openings</label>
    <input type="number" name="openings" placeholder="e.g. 2" required>

    <label>Category</label>
    <input type="text" name="category" placeholder="e.g. Software Development" required>

    <label>Job Description</label>
    <textarea name="description" placeholder="Describe the job role" required></textarea>

    <label>Required Skills</label>
    <textarea name="skills" placeholder="e.g. Python, Django, SQL" required></textarea>

    <button type="submit">Post Job</button>
</form>

{% endblock %}
